$main: #252529;
$secondary: #8b8b9f;
$highlight: #73e298;
$white: #ffffff;

*{
	box-sizing: border-box;
}

html, body {
	font-family: 'Open Sans', sans-serif;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.wrapper {
	width: 1440px;
	max-width: 90%;
	margin: 0 auto;
}

h1, h2, h3, h4, h5, h6{
	font-weight: 300;
}

#top-header {
	padding: 1.5em 0;
	.logo {
		float: left;
		text-transform: uppercase;
		font-size: 1.15em;
		font-weight: 700;
		span {
			font-weight: 300;
			color: $highlight;
		}
	}
	#main-nav {
		float: right;
		font-size: 0.9em;
		padding-top: 1em;

		a {
			color: $secondary;
			text-decoration: none;
			margin-left: 1em;
		} 
	}
}

.menu {
	display: none;
}

#banner {
	//background: #404043;
	background: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	padding: 6.5em 0;
	#banner-content-wrapper{
		width: 900px;
		max-width: 90%;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#poster {
		width: 275px;
		position: relative;
		float: left;
		.featured-image {
			width: 100%;
			max-width: 90%;
			border-radius: .5em;
			-webkit-box-shadow: 0px 0px 76px 0px rgba(0,0,0,0.47);
			-moz-box-shadow: 0px 0px 76px 0px rgba(0,0,0,0.47);
			box-shadow: 0px 0px 0px 76px 0px rgba(0,0,0,0.47);
		}

		.play-button {
			position: absolute;
			width: 80px;
			left: 50%;
			top: 50%;
			margin: -40px 0 0 -40px;
		}
	}

	#content {
		float: left;
		width: 500px;
		margin-left: 100px;
		.title {
			display: inline;
			font-size: 1.75em;
			color: $white;
		}
		.ratings {
			display: inline;
			margin-left: 1em;
			i {
				color: $white;
				font-size: 1.35em;
				margin: 0 .15em;
			}
			.inactive {
				color: #48494d;
			}
		}

		.description {
			color: $white; //#bbbebf;
			font-size: 1em;
			line-height: 2;
		}

		.info {
			color: $white;
			font-size: .8em;
			font-weight: 700;
			margin-top: 3em;
			span {
				margin: 0 .5em;
			}
		}
	}
}

#top-movies, #top-shows {
	padding: 5em 0;
	header {
		padding: 0 0 1.5em 0;
		h2, .view-more {
			display: inline;
		}

		h2{
			font-size: 1.75em;
		}
		.view-more {
			float: right;
			font-size: .8em;
			margin: .75em 3.5% 0;
		}
	}
}

#top-movies {
	border-bottom: 1px solid #d4d4d4;
}

.row {
	width: 100%;
	.post {
		float: left;
		width: 14%;
		margin-right: 2.5%;
		img {
			width: 100%;
			max-width: 100%;
			border-radius: .5em;
		}
		.title {
			font-size: 1.25em;
			margin:1em 0 0 0;
			color: $main;
		}
		.post-info {
			font-size: .75em;
			color: $secondary;
			margin: .5em 0;
		}
	}
}


#news-letter {
	padding: 5em 0;
	text-align: center;
	background: #2a2a2e;
	
	.news-letter-inner {
		width: 600px;
		max-width: 90%;
		margin: 0 auto;
	}
	h2 {
		font-size: 1.75em;
		color: $white;
	}
	.sign-up-form {
		margin-top: 3em;
		input[type="text"], input[type="email"] {
			width: 48%;
			margin: 0 .5%;
			height: 3.25em;
			border: none;
			outline: none;
			border-radius: .3em;
			background: #404043;
			padding: .5em 1.25em;
			font-size: .8em;
			color: $white;
		}

		.button {
			border: none;
			outline: none;
			margin-top: 3em;
			padding: 1em 4.5em;
			border-radius: 2em;
			background: $highlight;
			color: $white;
			font-weight: 700;
			font-size: .9em;
		}
	}
}

#main-footer {
	padding: 2.5em 0;
	text-align: center;
	
	.logo {
		text-transform: uppercase;
		font-size: 1.15em;
		font-weight: 700;
		span {
			font-weight: 300;
			color: $highlight;
		}
	}
	
	.copyright {
		color: $secondary;
		font-size: 0.75em;
		margin: 0;
	}
	
	.links {
		display: inline;
		a {
			color: $secondary;
			font-size: .75em;
			text-decoration: none;
			&:hover {
				color: $highlight;
			}
		}
	}
}

@media only screen and (max-width: 768px){
	#main-nav {
		display: none;
	}
	#main-nav.active {
		display: block;
		width: 100%;
		a {
			display: block;
			padding: 1em 0;
			border-bottom: 1px solid #E9E9E9;
			&:last-child {
				border-bottom: none;
			}
		}
	}
	.menu {
		display: block;
		float: right;
		i{
			font-size: 1.5em;
			color: $main;
			padding-top: .6em;
		}
	}
	#banner {
		padding: 3.5em 0;

		#poster {
			width: 275px;
			.play-button {
				width: 60px;
				left: 50%;
				top: 50%;
				margin: -30px 0 0 -30px;
			}
		}

		#content {
			margin-left: 50px;
			.title {
				font-size: 1.5em;
			}
			.ratings {
				i {
					font-size: 1em;
				}
			}

			.description {
				font-size: .9em;
			}

			.info {
				font-size: .7em;
				margin-top: 2em;
				span {
					margin: 0 .25em;
				}
			}
		}
	}
	#top-movies, #top-shows {
		padding: 3em 0;
		header {
			padding: 0 0 1.5em 1.25%;

			h2{
				font-size: 1.5em;
			}
			.view-more {
				margin: .75em 2.25% 0;
			}
		}
	}

	.row {
		.post {
			width: 30.6%;
			margin: 0 1.25% 2em 1.25%;
			img{
				max-height: 250px;
			}
			.title {
				font-size: 1em;
				margin:.5em 0 0 0;
			}
			.post-info {
				font-size: .65em;
			}
		}
	}
}


@media only screen and (max-width: 575px){
	#banner {
		#banner-content-wrapper{
			display: block;
			#poster {
				width: 250px;
				float: none;
				display: block;
				margin: 0 auto;
			}
		}
		#content{
			width: 100%;
			margin: 1em auto 0 auto;
		}
	}

	#top-movies , #top-shows {
		margin-bottom: 2em;
	}

	.row {
		.post {
			width: 250px;
			margin: 0 auto 2em auto;
			float: none;
			img{
				max-height: 100%;
			}
		}
	}

	#news-letter {
		padding: 3em 0;
		h2{
			font-size: 1.35em;
		}
		.sign-up-form {
			margin-top: 2em;
			input[type="text"], input[type="email"]{
				width: 90%;
				margin: 0 0 1em 0;
			}
		}

		.button {
			margin-top: 3em;
		}
	}
}